@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Micro+5&display=swap');

body, select, option {
    font-family: 'Micro 5', sans-serif;
    font-size: 150%;
}

button, select, option {
    background-image: url('images/texture.png');
    border: 4px solid black;
    background-color: #7e7e7e;
    background-size: cover;
    padding: 10px;
}

button:hover, select:hover, option:hover {
    border: 4px solid white;
    background-color: #5c5c5c;
}

button:active {
    transform: translateY(-2);
}

.hero {
    background-image: url(https://minecraftforfreex.com/images/eaglercraft.png);

    filter: blur();
    -webkit-filter: blur(8px);
    
    color: aliceblue;
}