@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Micro+5&display=swap');

body, select, option {
    font-family: 'Micro 5', sans-serif;
    font-size: 150%;
}

button, select, option {
    background-image: url('images/texture.png');
    border: 2px black;
    background-color: #7e7e7e;
    background-size: 100% auto;
    padding: 10px;
}

button:hover, select:hover, option:hover {
    background-image: url('images/texture.png');
    border: 2px black;
    background-color: #7e7e7e;
    background-size: 100% auto;
    padding: 10px;
}